<!--<tui-theme-night></tui-theme-night>-->
<tui-root>
  <div class="main">
    <div class="sidebar">
      <ng-container [tuiTreeController]="true">
        <tui-tree-item>
          Angular (Essenciais)
          <tui-tree-item>
            <a [routerLink]="['/component-comunication']">Comunicação entre componentes</a>
          </tui-tree-item>
        </tui-tree-item>
      </ng-container>
    </div>

    <div class="context">
      <router-outlet></router-outlet>
    </div>
  </div>
</tui-root>
