<div class="page">
  <div class="page__header">
    <h1>Comunicação entre componentes</h1>
  </div>

  <div class="page__body">
    <div>
      <p>
        No Angular, os componentes são como peças de um quebra-cabeça que juntas formam sua aplicação. Às vezes, essas
        peças
        precisam conversar umas com as outras. Aqui estão as duas maneiras principais de fazer isso:
      </p>
    </div>

    <div>
      <h2>Comunicação de pai para filho com <strong style="color: var(--tui-primary);">@Input</strong></h2>
      <p>
        Imagine que você tem uma caixa de correio em cada componente. Outros componentes podem colocar cartas nessa
        caixa de
        correio, que contêm informações. O componente "recebe" essas informações e pode usá-las para mostrar coisas
        diferentes.
        Isso é como passar notas para os colegas de classe.
      </p>
      <p>
        No código, você define um "Input" em um componente filho para que ele possa aceitar informações de um componente
        pai.
        Por exemplo:
      </p>
    </div>

    <textarea highlight-js [options]="{}" [lang]="'typescript'">
      @Input() nome: string;
    </textarea>

    <div>
      <p>E no template do componente pai, você coloca essas informações no componente filho:</p>
    </div>

    <textarea class="highlight" highlight-js [options]="{}" [lang]="'typescript'">
      <app-filho [nome]="nomeDoPai"></app-filho>
    </textarea>

    <div>
      <h2>Comunicação de filho para pai com <strong style="color: var(--tui-primary);">@Output</strong></h2>
    </div>

    <div>
      <p>
         Agora, imagine um botão mágico em um componente. Quando você pressiona esse botão, ele solta balões coloridos.
        Esses balões são como eventos que outros componentes podem perceber e reagir.
        O componente que possui o botão pode dizer: "Ei, algo aconteceu aqui!"
      </p>
    </div>

    <div>
      <p>
        No código, você define um "Output" em um componente para criar eventos que outros componentes podem ouvir. Por exemplo:
      </p>
    </div>

    <textarea class="highlight" highlight-js [options]="{}" [lang]="'typescript'">
      @Output() botaoClicado = new EventEmitter<void>();
    </textarea>

    <div>
      <p>
        No template desse componente, você dispara esse evento quando o botão é clicado:
      </p>
    </div>

    <textarea class="highlight" highlight-js [options]="{}" [lang]="'typescript'">
      <button (click)="botaoClicado.emit()">Clique Aqui</button>
    </textarea>

    <div>
      <p>
        Essas são as formas simples de comunicação entre componentes no Angular.
        Os "Inputs" permitem que você passe informações de um componente pai para um filho,
        enquanto os "Outputs" permitem que um componente filho avise um pai ou outros componentes sobre eventos importantes.
      </p>
    </div>

    <div>


    </div>
  </div>
</div>
